<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/main-layout.html}">
<head>
</head>
<body>

<div class="container" layout:fragment="content">

    <form name="profile-content" th:action="@{/update-user}" th:object="${currentUser}" method="post">
        <div class="row" id="information-content">
            <div class="col-7">
                <div class="row" id="profile-username">
                    <div class="col-5">
                        <span>Username</span>
                    </div>
                    <div class="col-7">
                        <span th:text="${currentUser.getUsername()}"></span>
                        <i class="bi bi-chevron-right"></i>
                    </div>
                </div>
                <div class="row" id="profile-email">
                    <div class="col-5">
                        <span>Mail</span>
                    </div>
                    <div class="col-7">
                        <span th:text="${currentUser.getEmail()}"></span>
                        <i class="bi bi-chevron-right"></i>
                    </div>
                </div>
                <div class="row" id="profile-password">
                    <div class="col-5">
                        <span>Mot de passe</span>
                    </div>
                    <div class="col-7">
                        <span>mot de passe</span>
                        <i class="bi bi-chevron-right"></i>
                    </div>
                </div>
            </div>
            <div class="col-5" id="modify-button">
                <button type="submit" class="btn">Modifier</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>